<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>FeedCalendar</title>
</head>
<body>
<div class="year" th:each="year : ${years}">
    <div class="month" th:each="month : ${year.months}">
        <table>
            <tr>
                <td th:each="weekday : ${weekdays}" th:text="${weekday}"></td>
            </tr>
            <tr th:each="week : ${month.weeks}">
                <td th:each="day : ${week.days}"  th:text="${day}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
